# Visual Studio & .NET Build Output
.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
*.lock.json

# Build Results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/

# NuGet Packages
*.nupkg
packages/
